*{
    margin: 0;
    padding:0;
}
body{
    background-color: lightgray;
    max-width:100%;
    background-repeat: no-repeat;
   
}
.main{
    height:max-content;
    width:40%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap:10px;
   padding-top: 2rem;
}
input, button,select{
    height: 30px;
    border-radius: 5px;
    border:2px solid darkgrey;
    padding: 0 20px;
}
table{
    margin-top: 2rem;
    border: 1px solid  black;
}
td{
    border: 2px solid darkgrey;
    padding:5px 10px;
}
.summery{
    display: flex;
    gap:10%;
    justify-content: flex-end;
    padding:3rem;
}
.display{
    display: flex;
    gap:1rem;
}
.label_text{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}
.btn_discount, .btn_price, .btn_total{
    border-radius: 5px;
} 
.all_images{
    height:100px;
    width:100px;
}
.err{
    color:red;
    padding-left: 10px;
}
.hide_err{
    display:none;
}
.pop-up{
    /* padding:5rem; */
    border:2px solid darkgrey;
    width: 40%;
    margin: auto;
    background-color: #f5f4f2;
}
.pop-up h2{
    padding-top: 2px;
    text-align: center;
    color:#484a49;
}
.data_update{
    display:flex;
    flex-direction: column;
    padding:2rem;
    justify-content:space-between;
    align-items: center;

  
}
.pop-up_table{
    margin: auto;
    border: none;

}
.openmodel{
    overflow:hidden;
}
.hidden{
    display:none;
}
.manage_btns{
    display: flex;
    gap:2rem;
}