*{
    margin: 0;
    padding:0;
}
body{
    background-color: lightgray;
    max-width:100%;
    background-repeat: no-repeat;
   
}
form{
    height:max-content;
    width:40%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap:10px;
   padding-top: 2rem;
}
input, button,select{
    height: 30px;
    border-radius: 5px;
    border:2px solid darkgrey;
    padding: 0 20px;
}
table{
    margin: 0 auto;
    border: 1px solid  black;
}
td{
    border: 2px solid darkgrey;
    padding:5px 10px;
}
.summery{
    display: flex;
    gap:10%;
    justify-content: flex-end;
    padding:3rem;
}
.display{
    display: flex;
    gap:1rem;
}
.label_text{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}
.btn_discount, .btn_price, .btn_total{
    border-radius: 5px;
} 
.all_images{
    height:100px;
    width:100px;
}
.err{
    color:red;
    padding-left: 10px;
}
.hide_err{
    display:none;
}
.data_update{
    display:flex;
    padding:2rem;
    justify-content: center;
    align-items: center;
    gap:1rem
}
.hidden{
    visibility: hidden;
}
.manage_btns{
    display: flex;
    gap:2rem;
}